---
import DynamicSrOnly from "../components/DynamicSrOnly.astro";
import Heading from "../components/Heading.astro";
import Layout from '../layouts/Layout.astro';
import QuickFacts from "../components/QuickFacts.astro";
import Share from "../components/Share.astro";
import Wrapper from "../components/Wrapper.astro";
import { title } from "../constants";

const faqItems = [
	{
		question: "Do I need to register?",
		answer: "Nope!",
	},
	{
		question: "What technologies am I allowed to use?",
		answer: "Anything but AI. Disable Codepilot/Tabnine/etc before you start.",
	},
	{
		question: "I exist in a location. Can I participate?",
		answer: "Yes! This is a remote event.",
	},
	{
		question: "Will submissions be judged?",
		answer: "Nope!",
	},
	{
		question: "Will food and drink be available at the event?",
		answer: "If you have some!",
	},
	{
		question: "Will I get anything for participation?",
		answer: "Yes! Some fun something TBD.",
	},
];

const termsAndConditions = [
	"Anyone of any age in any location can join.",
	"You can work solo or in a group.",
];
---

<Layout pageTitle="About">
	<Wrapper>
		<div class="{display:flex} {flex-direction:column} {gap:clamp(2rem,1.3043rem_+_3.4783vw,4rem)}">
			<Heading is="h1" size="large">
				{title}
			</Heading>

			<div class="{display:inherit} {flex-direction:inherit} {gap:inherit} {font-size:clamp(1.125rem,0.9946rem_+_0.6522vw,1.5rem)} {font-weight:300}">
				<section
					class="{text-align:center} {display:inherit} {flex-direction:inherit} {gap:1rem}"
				>
					<DynamicSrOnly is="h2">Introduction</DynamicSrOnly>

					<p>
						People can code cool things in a short period of time without AI.
					</p>

					<p>
						In the spirit of
						<a href="https://www.youtube.com/watch?v=tkg858APzFk"
							>The Academy of Movies Shot During the Oscars Awards</a
						>,

						<br />

						on January 16 —the same day as
						<a href="https://shortest-hackathon.vercel.app/"
							>The World’s Shortest Hackathon</a
						>— reserve an hour and fifty minutes
						to code something without AI.
					</p>
				</section>

				<QuickFacts showDetails={true}></QuickFacts>

				<section class="{margin:clamp(1.125rem,0.4728rem_+_3.2609vw,3rem)_0}">
					<DynamicSrOnly is="h2">Share</DynamicSrOnly>

					<div
						class="{display:flex} {flex-direction:column} {gap:1.5rem} {align-items:center}"
					>
						Tell your networks that you intend to participate!

						<Share
							hashtags={['ShorterHackathon', 'hackathon']}
							text={`On January 16 I'm going to take part in ${title}, the hour-fifty-minute AI-free remote hackathon anyone can join.`}
						></Share>
					</div>
				</section>
			</div>

			<section>
				<Heading is="h2" size="medium">FAQ</Heading>

				<div
					class="{display:flex} {flex-direction:column} {gap:1rem} {margin-top:1rem}"
				>
					{faqItems.map((item) => (
						<div>
							<p>
								<em
									class="{display:block} {font-weight:700} {font-style:initial}"
									>{item.question}</em
								>

								{item.answer}
							</p>
						</div>
					))}
				</div>
			</section>

			<section>
				<Heading is="h2" size="medium">Terms and Conditions</Heading>

				<div
					class="{display:flex} {flex-direction:column} {gap:1rem} {margin-top:1rem}"
				>
					{termsAndConditions.map((item) => (
						<p>{item}</p>
					))}
				</div>
			</section>
		</div>
	</Wrapper>
</Layout>
